<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/sytles.css"> <!-- / starts at web server static folder, set as public -->
    <!-- <script src="/js/app.js"></script>   When js script is here, it runs before the page is fully loaded-->
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>    
    
    {{>footer}}   

    <script src="/js/app.js"></script>
</body>

</html>